<!-- Button trigger modal -->
<br>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Your Ideas
  </button>
  <br>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Write Your Ideas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= simple_form_for Idea.new do |f| %>
            <%= f.input :description %>
          <%= f.input :author %>
          
         
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  











<% @ideas.each do |idea| %>
    
<br>
<div class="card ">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= idea.description %></p>
        <footer class="blockquote-footer">by <%= idea.author %></footer>
      </blockquote>
      <br>
      <div >
      <%= link_to "Delete", idea_path(idea), class: "btn btn-sm btn-danger", data: {"turbo-confirm":"Are you sure ?", "turbo-method": :delete} %>
      <%= link_to "Revise", edit_idea_path(idea), class: "btn btn-sm btn-success" %>
    </div>
    </div>
  </div>
  <br>
    
<% end %>

<div class="d-flex justify-content-center will_pagination">
<%= will_paginate @ideas %>
</div>





